<?xml version="1.0" encoding="utf-8"?>

<Project>
	<PropertyGroup>
		<LangVersion>latest</LangVersion>
		<CGUILibReleaseDir>D:\release\MDCS\lib</CGUILibReleaseDir>
		<CGUIDebugDir>D:\src\CycleGUI\x64\LibraryDebug</CGUIDebugDir>
		<MedullaDebugDir>D:\MDCS\Runtimes\Medulla</MedullaDebugDir>
	</PropertyGroup>
</Project>